/vendor/
/.idea/
*.log
/public/uploads/
.env
# Игнорировать composer.lock (оставь, если не хочешь фиксировать зависимости в git)
composer.lock
# Игнорировать содержимое tmp, но не саму папку
/tmp/*
!tmp/
!tmp/.gitkeep
public/test_data.sql